:root {
  --clr-light-grayish-blue: hsl(210, 46%, 95%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
  --clr-very-dark-grayish-blue:  hsl(217, 19%, 35%);

  --fw-medium: 500;
  --fw-bold: 700;
  --font-size-13: 0.813rem /* 13px */
}

body {
  background-color: var(--clr-light-grayish-blue);
}

/* Visually hidden, but available for screen reader */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
