:root {
  --clr-background: hsl(210, 46%, 95%);
  --clr-text-main: hsl(212, 23%, 69%);
  --clr-share-container: hsl(214, 17%, 51%);
  --clr-text-accent: hsl(217, 19%, 35%);

  --fw-medium: 500;
  --fw-bold: 700;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--clr-background);
}

/* Visually hidden, but available for screen reader */

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 45.625rem;
  margin: 0 23px;
  border-radius: 10px;
  background-color: #FFF;
}

.card__image {
  width: 100%;
  min-width: 17.75rem;
  height: 12.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  object-position: 0 -0.313rem;
  overflow: hidden;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 1.813rem;
  padding: 2rem 2rem 1.25rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.card__title {
  color: var(--clr-text-accent);
  font-size: 1.04rem;
  line-height: 1.5;
}

.card__text {
  color: var(--clr-text-main);
  font-size: 0.864rem;
  line-height: 1.5;
}

.card__footer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__share-container {
  position: absolute;
  top: -0.875rem;
  left: -2rem;
  z-index: 2;
  display: flex;
  align-items: center;
  width: calc(100% + 4rem); /* add card padding */
  height: calc(100% + 2.125rem);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0 2rem;
  background-color: var(--clr-share-container);
}

.hidden {
  display: none;
}

.card__share-container-text {
  margin-right: 0.625rem;
  color: var(--clr-background);
  font-size: 0.78rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.card__buttons-container {
  display: flex;
  gap: 0.313rem;
}

.share-btn {
  border: none;
  border-radius: 10px;
  padding: 0.313rem;
  background-color: transparent;
}

.share-btn:hover {
  outline: 1px solid #fff;
}

.card__footer-name_container {
  display: flex;
  flex-direction: column;
  gap: 0.313rem;
}

.card__footer-name {
  color: var(--clr-text-accent);
  font-weight: var(--fw-bold);
  font-size: 0.864rem;
}

.card__footer-date {
  color: var(--clr-text-main);
  font-size: 0.864rem;
}

.card__footer-avatar {
  width: 2.5rem;
  height: auto;
  border-radius: 50%;
}

.card__footer-share_button {
  position: relative;
  z-index: 3;
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  border: none;
  border-radius: 50%;
  padding: 0.438rem;
  background-color: var(--clr-background);
}

.card__footer-share_button:hover {
  outline: 1px solid var(--clr-text-accent);
}

@media screen and (min-width: 800px) {
  .card {
    flex-direction: row;
    box-shadow: 1px 40px 100px 0px rgba(0, 0, 0, 0.1);
  }

  .card__body {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.875rem 2.5rem 1.875rem;
  }

  .card__title {
    font-size: 1.295rem;
    line-height: 1.35;
  }

  .card__image {
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    object-position: 0 0;
  }

  .card__share-container {
    top: -5rem;
    left: 14.188rem;
    width: 15.313rem;
    height: 3.5rem;
    border-radius: 8px;
  }

  .card__share-container::after {
    content: '';
    position: absolute;
    top: 0.625rem;
    left: 6rem;
    z-index: -1;
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--clr-share-container);
    rotate: 45deg;
  }
}